apiVersion: v1
kind: Service
metadata:
  name: my-app-svc
spec:
  type: {{ .Values.service.type }}
  selector:
    app: my-app
    version: {{ .Values.service.selector }}
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
{{- if eq .Values.service.type "NodePort" }}
    nodePort: {{ .Values.service.nodePort }}
{{- end }}